# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Next.js build output
.next/

# Production build output
out/

# Dependency directories for various package managers
jspm_packages/
